.main-nav-bar ul {
    list-style-type: none;
    margin-top:10px;
    padding-left: 200px;
    overflow: hidden;
    background-color: #333;
  }
  
  .main-nav-bar li {
    float: left;
    margin-left: 25px;
  }
  
  .main-nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .main-nav-bar li a:hover {
    background-color:lightpink;
    color: black;
  }
  .main-nav-bar a:hover:not(.active) {
    background-color: lightpink;
    color: black;
  }
  
  .active {
    background-color: lightpink;
    color: black;
  }
  .nav-bar img{
      margin-left: 85px;
      margin-top: 8px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:grey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:0px;
    display: none;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: lightpink;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  span{
      display: none;
  }
  .nav-bar h1{
      padding-top: 0;
      padding-left: 150px;
      font-size: 25px;
      font-weight: lighter;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .nav-bar form{
      position: absolute;
      top: 10px;
      left: 400px;
  }
  .nav-bar input{
    width: 500px;
}
.nav-bar button:hover{
    background-color: lightpink;
    color: black;
}
.main-page img{
    height: 700px;
    background-size: cover;
    background-repeat: none;
}

.cart figure{
    padding-left: 65px;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
}
.sign-in button{
    position: absolute;
    top: 10px;
    left: 70%;
}
.sign-in button:hover{
    background-color:gray;
    color: black;
}
.register button{
    position: absolute;
    top: 10px;
    left:76% ;
}
.register button:hover{
    background-color:seagreen;
    color: black;
}
.sidenav button{
    margin-left: 32px;
}

.footer ul{
    display: inline-block;
    line-height: 37px;
    margin-left: 35px;
}
.footer a{
    text-decoration: none;
}
.footer p{
    margin-top: 8px;
    padding-left: 480px;
}
.mb-3 label,input {
    position: absolute;
    left: 280px;
    padding-top: 20px;
}
@media (max-width:700px){
    .main-nav-bar{
        display: none;
    }
    .sidenav, span{
        display: block;
    } 
    .nav-bar h1{
        position: absolute;
        top: 5px;
        left:0;
    }
    .nav-bar form{
        position: absolute;
        top: 17px;
        left: 50px;
    }
    .nav-bar input{
        width: 300px;
    }
    .main-page img{
        height: 70%;
    }
   .cart figure{
       padding-left: 25px;
   }
   .register button{
       display: none;
   }
   .sign-in button{
    position: absolute;
    top: 5px;
    left: 390px;
    width: 80px;
    height: 32px;
    padding-left: 3.5px;
    padding-top: 2px;
   }
   .contact {
       padding-top: 20px;
   }

}
